<div
  class="workload-nav d-flex gap-5 px-4 border-bottom flex-shrink-0"
  #workloadNav
>
  <a
    class="btn btn-nostyle px-0 text-uppercase"
    *ngFor="let item of getAvailableNavigation()"
    routerLinkActive="active"
    [routerLink]="[item | lowercase]"
  >
    {{ item }}
  </a>

  <div class="active-slider"></div>

  <div
    class="ms-auto d-flex align-items-center"
    *ngIf="!!(unsafedModification$ | async)"
  >
    <button
      type="button"
      class="btn btn-nostyle btn-sm px-5"
      (click)="discard()"
    >
      Discard
    </button>
    <button
      type="button"
      class="btn btn-success btn-sm px-5"
      (click)="saveWorkload()"
    >
      Save
    </button>
  </div>
</div>

<div class="p-4 code-container">
  <router-outlet></router-outlet>
</div>
