<ng-select
  [class.no-label]="!floating"
  [formControl]="control"
  [items]="items"
  [placeholder]="label + (required ? ' *' : '')"
  [clearable]="clearable"
  dropdownPosition="bottom"
  [bindValue]="bindValue"
  [bindLabel]="bindLabel"
  [searchable]="searchable"
  [class.inline]="inline"
  [dropdownPosition]="position ?? 'bottom auto'"
>
  <ng-template ng-label-tmp let-item="item">
    {{ !!bindLabel ? (item[bindLabel] | translate) : (item | translate) }}
  </ng-template>
  <ng-template ng-option-tmp let-item="item">
    {{ !!bindLabel ? (item[bindLabel] | translate) : (item | translate) }}
  </ng-template>
</ng-select>

<pq-form-error [control]="control" class="d-block mt-1"></pq-form-error>
