:host {
  .context-header {
    height: 50px;
    display: flex;
    align-items: center;
    .select-context {
      ::ng-deep {
        ng-select {
          width: fit-content;
          .ng-dropdown-panel {
            width: fit-content;
            //min-width: 200px;
          }
        }
      }
    }
  }
}
