:host {
  display: block;
  .form-floating {
    .form-control {
      padding-right: 48px;
    }
    .password-toggle {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      height: 24px;
      width: 24px;
      opacity: 0.4;
    }
  }
}
