<div class="form-floating">
  <input
    [type]="passwordClear ? 'text' : 'password'"
    class="form-control"
    id="floatingPassword"
    [placeholder]="label"
    [class.is-invalid]="control.touched && control.dirty && control.invalid"
    #passwordInput
    [formControl]="control"
    name="password"
  />
  <label for="floatingPassword">{{ label }}</label>
  <button
    moTrackClickEvent
    moTrackId="1"
    class="btn btn-icon password-toggle p-0 d-flex align-items-center"
    type="button"
    (click)="toggleView()"
  >
    <img
      src="/assets/icons/icon-eye-open.svg"
      height="24px"
      width="24px"
      [class.d-none]="passwordClear"
    />
    <img
      src="/assets/icons/icon-eye-closed.svg"
      height="24px"
      width="24px"
      [class.d-none]="!passwordClear"
    />
  </button>
</div>

<pq-form-error [control]="control" class="d-block mt-1"></pq-form-error>
