<div class="overview-tile d-grid bg-grey-8 fr-6 p-4 gap-4 rounded">
  <div class="d-flex flex-column">
    <span class="fs-large">{{
      (currentContext$ | async)?.provider ?? "unknown"
    }}</span>
    <span class="fs-small text-muted">Provider</span>
  </div>

  <div class="d-flex flex-column">
    <span class="fs-large">{{
      (contextInfo$ | async)?.clusterStatus.kubernetesVersion
    }}</span>
    <span class="fs-small text-muted">Kubernetes Version</span>
  </div>

  <div class="d-flex align-items-start gap-2">
    <img src="/assets/icons/icon-cpu.svg" class="mt-2" alt="" />
    <div class="d-flex flex-column">
      <span class="fs-large"
        >{{ cpuTotal }} Core{{
          (contextInfo$ | async)?.clusterStatus.cpu === 1 ? "" : "s"
        }}</span
      >
      <span class="fs-small text-muted">Total CPU</span>
      <span class="fs-xsmall text-success">{{ cpuInUse }} % in use</span>
      <span class="fs-xsmall text-success">Request: {{ cpuRequest }}</span>
      <span class="fs-xsmall text-success">Limit: {{ cpuLimit }}</span>
    </div>
  </div>

  <div class="d-flex align-items-start gap-2">
    <img src="/assets/icons/icon-ram.svg" class="mt-2" alt="" />
    <div class="d-flex flex-column">
      <span class="fs-large">{{ ramTotal | formatBytes }}</span>
      <span class="fs-small text-muted">Total RAM</span>
      <span class="fs-xsmall text-success">{{ ramInUse }} % in use</span>
      <span class="fs-xsmall text-success">Request: {{ memoryRequest | formatBytes }} ({{ memoryRequestPercent }})</span>
      <span class="fs-xsmall text-success">Limit: {{ memoryLimit | formatBytes }} ({{ memoryLimitPercent }})</span>
    </div>
  </div>

  <div class="d-flex align-items-start gap-2">
    <img src="/assets/icons/icon-storage.svg" class="mt-2" alt="" />
    <div class="d-flex flex-column">
      <span class="fs-large">{{ storageTotal | formatBytes }}</span>
      <span class="fs-small text-muted">Total Storage</span>
      <span class="fs-xsmall text-success">{{ storageInUse }} % commited</span>
    </div>
  </div>

  <div class="d-flex align-items-start gap-2">
    <img src="/assets/icons/icon-target.svg" class="mt-2" alt="" />
    <div class="d-flex flex-column">
      <span class="fs-large"
        >{{ (contextInfo$ | async)?.nodeStats.length }} Node{{
          (contextInfo$ | async)?.nodeStats.length === 1 ? "" : "s"
        }}</span
      >
      <span class="fs-small text-muted">Total Nodes</span>
    </div>
  </div>
</div>
