<div
  class="d-flex flex-column align-items-center justify-content-center loading-overlay"
  *ngIf="(loading$ | async) && !(errorState$ | async)"
>
  <img src="/assets/logos/punq.svg" class="mb-4" alt="" />
  <pq-loading-spinner style="height: 16px" color="white"></pq-loading-spinner>
</div>

<div
  class="d-flex flex-column align-items-center justify-content-center error-overlay"
  *ngIf="errorState$ | async"
>
  <img src="/assets/logos/punq.svg" class="mb-4" alt="" />
  <span class="text-danger fs-small">{{ errorState$ | async }}</span>
</div>
