<div class="bg-grey-8 rounded p-4 mb-4">
  <div class="content d-flex flex-column gap-4" style="max-width: 950px">
    <span class="text-uppercase d-block mb-3">General cluster information</span>
    <div class="d-flex align-items-center gap-7">
      <pq-input
        [control]="form.get('name')"
        class="w-100"
        style="max-width: 530px"
        label="Internal name"
      ></pq-input>
      <span class="color-grey-5 fs-small"
        >This name will only be used to display the cluster in punq and it
        doesn’t affect your Kubernetes cluster.</span
      >
    </div>

    <div class="d-flex align-items-center gap-7">
      <pq-select
        [control]="form.get('provider')"
        class="w-100"
        style="max-width: 530px"
        label="Provider"
        [items]="providers$ | async"
        [searchable]="true"
      ></pq-select>
      <span class="color-grey-5 fs-small"
        >This will only be used to display the cluster provider in punq and it
        doesn’t affect your Kubernetes cluster.</span
      >
    </div>
  </div>
</div>

<div class="bg-grey-8 rounded p-4">
  <div
    class="content d-flex gap-6 justify-content-between align-items-center"
    style="max-width: 950px"
  >
    <div class="d-flex flex-column">
      <span class="text-uppercase d-block mb-2 text-danger"
        >Delete Cluster</span
      >
      <span class="fs-small"
        >Delete the cluster from your punq instance. You can add it again by
        uploading the kubeconfig.</span
      >
    </div>

    <button
      type="button"
      class="btn btn-tertiary px-5 btn-sm flex-shrink-0"
      (click)="deleteContext()"
    >
      Delete cluster
    </button>
  </div>
</div>
