<div
  class="d-flex w-100 justify-content-between mb-3 align-items-center"
  style="height: 36px"
>
  <h6>Cluster settings</h6>

  <div class="d-flex gap-4" *ngIf="!!changes">
    <button class="btn btn-transparent btn-sm px-4" (click)="discardChanges()">
      Discard
    </button>
    <button class="btn btn-success btn-sm px-4" (click)="patchContext()">
      Save
    </button>
  </div>
</div>

<pq-context-settings-form
  (updatedCluster)="changedContext($event)"
  [resetEmitter]="resetEmitter"
></pq-context-settings-form>
