:host {
  flex-direction: column;
  height: auto !important;
  justify-content: start;
  align-items: start;
  .item {
    height: 50px;
    width: 100%;
    i {
      transition: transform 0.1s ease-in-out;
    }
  }
  .children {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    pq-cluster-details-sidebar-workload-item {
      height: 50px;
      display: flex;
      flex-shrink: 0;
      overflow: hidden;
      width: 100%;
      align-items: center;
      padding-left: 48px;
      &:first-child {
        margin-top: 6px;
      }
      &:last-child {
        margin-bottom: 24px;
      }
    }
  }
}
