<div class="item d-flex align-items-center gap-2 px-3" (click)="toggleOpen()">
  <i
    class="fa fa-chevron-down color-grey-5 fs-small"
    [class.rotate-90]="!childrenOpen"
    aria-hidden="true"
  ></i>
  <img src="/assets/icons/icon-layers.svg" alt="" />
  <i class="fas fa-circle text-success fs-xxsmall"></i>
  <span class="fs-small">namespace</span>
</div>

<div
  class="children d-flex flex-column"
  [style.max-height.px]="childrenOpen ? 7 * 50 + 48 : '0'"
>
  <pq-cluster-details-sidebar-workload-item
    *ngFor="let workloadItem of [1, 2, 3, 4, 5, 6, 7]"
  ></pq-cluster-details-sidebar-workload-item>
</div>
