<svg
  width="100%"
  height="100%"
  viewBox="0 0 321 321"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <rect
    id="spin-1"
    x="142"
    width="37"
    height="107"
    rx="9"
    [style.fill]="color"
  />
  <rect
    id="spin-2"
    x="260.909"
    y="33.928"
    width="37"
    height="107"
    rx="9"
    transform="rotate(45 260.909 33.928)"
    [style.fill]="color"
  />
  <rect
    id="spin-3"
    x="321"
    y="142"
    width="37"
    height="107"
    rx="9"
    transform="rotate(90 321 142)"
    [style.fill]="color"
  />
  <rect
    id="spin-4"
    x="287.072"
    y="260.909"
    width="37"
    height="107"
    rx="9"
    transform="rotate(135 287.072 260.909)"
    [style.fill]="color"
  />

  <rect
    id="spin-5"
    x="142"
    y="214"
    width="37"
    height="107"
    rx="9"
    [style.fill]="color"
  />

  <rect
    id="spin-6"
    x="109.588"
    y="185.249"
    width="37"
    height="107"
    rx="9"
    transform="rotate(45 109.588 185.249)"
    [style.fill]="color"
  />
  <rect
    id="spin-7"
    x="107"
    y="142"
    width="37"
    height="107"
    rx="9"
    transform="rotate(90 107 142)"
    [style.fill]="color"
  />

  <rect
    id="spin-8"
    x="135.751"
    y="109.588"
    width="37"
    height="107"
    rx="9"
    transform="rotate(135 135.751 109.588)"
    [style.fill]="color"
  />
</svg>
