<div class="d-flex align-items-center mb-4">
  <a
    class="btn btn-icon me-6"
    *ngIf="!!(currentContext$ | async)"
    [routerLink]="['/', 'context', (currentContext$ | async).id]"
  >
    <img src="/assets/icons/icon-arrow-left.svg" alt="" />
    <span class="ms-2">Back</span>
  </a>
  <div class="fw-bold fs-large">Add context-connection</div>
</div>

<div class="bg-grey-8 rounded d-flex justify-content-center">
  <div class="content-md px-3 pt-6 pb-l3">
    <div class="fw-bold fs-large mb-4">Add a cluster from your kubeconfig</div>
    <p class="fs-small mb-4">
      Upload a kubeconfig file to add a cluster to punq. Once the file scan is
      completed, you can select the clusters you want to import. The
      configurations for each cluster are stored securely as Kubernetes secrets
      on your cluster.
    </p>

    <!-- CONTEXT UPLOAD ZONE -->
    <pq-config-upload-dropzone
      (clusterList)="setClusterList($event)"
      *ngIf="!contextList"
    >
    </pq-config-upload-dropzone>

    <!-- CONTEXT LIST -->
    <pq-context-connect-list
      *ngIf="contextList?.length > 0"
      [contextList]="contextList"
    ></pq-context-connect-list>
  </div>
</div>
