:host {
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(134deg, #a90000 -9.8%, #4b0000 97.86%);

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .access-2 {
    background-color: #00d1ff;
  }
  .access-1 {
    background-color: #0051ff;
  }
  .access-0 {
    background-color: #7f7f7f;
  }
}
