<div class="d-flex flex-column gap-4">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <img src="/assets/icons/icon-context.svg" class="me-2" alt="" />
      <pq-select
        *ngIf="(contextList$ | async).length > 0"
        style="max-width: 150px; min-width: 100px"
        label="Select Context"
        [control]="contextControl"
        [inline]="true"
        [items]="contextList$ | async"
        bindValue="id"
        bindLabel="name"
      ></pq-select>
    </div>
    <a class="btn btn-sm btn-tertiary px-4" [routerLink]="['connect']">
      Add context
    </a>
  </div>

  <pq-context-header-bar></pq-context-header-bar>

  <!-- This is the component that contains the sidebar and the router outlet -->
  <pq-context-details-container></pq-context-details-container>
</div>
